<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608194539668-gpaovfr66gpp0biqh4t67aar3bmrot7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608194539668-gpaovfr66gpp0biqh4t67aar3bmrot7l</string>
	<key>API_KEY</key>
	<string>AIzaSyASS5MCHH7SVt7MI26tz0-wdKxkxbZqxqY</string>
	<key>GCM_SENDER_ID</key>
	<string>608194539668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.g3Asignacion5</string>
	<key>PROJECT_ID</key>
	<string>auth-project-4b2cc</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-project-4b2cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608194539668:ios:6da384430b0c9bf1710481</string>
</dict>
</plist>